
.slide{
  width: 400px;
  margin: 40px auto;
}
.window{
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.window>#images {
  display: flex;
  align-items: flex-start;
  width: 900px;
  height:200px;
  border: 1px solid green;
  transition: all 1s;
  
}
.window>.buttons{
  position: absolute;
  top: 168px;
  left:8px;
}
.red{color:red;}


.window>.images2>img{
  position: absolute;
  left: 0;
  right: 0;
  transition: all 1s;
}

.right{
  transform: translateX(100%);
}
.left{
  transform: translateX(-100%);
}
.current{
  transform: translateX(0);
  z-index: 1
}